<!DOCTYPE html>
<html>
<head>
	<title>Sample Products App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/bootstrap.css" >
</head>
<body>
	<div id="app" class="container">
		<div class="list-products" v-if="product.id == null">
			<h1>View Products</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Product Name (SKU)</th>
						<th>Price</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="product in products" @click.prevent="updateModel(product)" style="cursor:pointer;">
						<td>{{ product.id }}</td>
						<td>{{ product.name }} <small><em>({{ product.sku }})</em></small></td>
						<td v-html="product.price_html"></td>
						<td>{{ product.stock_quantity }}</td>
					</tr>
				</tbody>
			</table>
			<!-- <button class="btn btn-lg btn-primary" @click.prevent="getProducts">Load Products</button> -->
		</div>

		<div class="edit-product" v-if="product.id">
			<h1>Edit Product</h1>

			<form action="" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="name">Product Name</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="name" name="name" v-model="product.name" placeholder="My Milkshake">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="sku">SKU</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="sku" name="sku" v-model="product.sku" placeholder="WPS1234567890">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="description">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="description" name="description" rows="10" v-model="product.description" placeholder="Brings all the boys to the yard."></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="short_description">Short Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="short_description" name="short_description" rows="3" v-model="product.short_description" placeholder="It's better than yours."></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="regular_price">Regular Price</label>
					<div class="col-sm-10">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input class="form-control" type="text" id="regular_price" name="regular_price" v-model="product.regular_price" placeholder="99999.99">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="sale_price">Sale Price</label>
					<div class="col-sm-10">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input class="form-control" type="text" id="sale_price" name="sale_price" v-model="product.sale_price" placeholder="9.99">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="stock_quantity">Quantity</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="stock_quantity" name="stock_quantity" v-model="product.stock_quantity" placeholder="1500">
					</div>
				</div>
				<div class="form-group">
				<label class="col-sm-2 control-label" for="backorders">Allow Backorders</label>
					<div class="col-sm-10">
						<select class="form-control" id="backorders" name="backorders" v-model="product.backorders">
							<option value="no">Do not allow</option>
							<option value="notify">Allow, but notify customer</option>
							<option value="yes">Allow</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label for="manage_stock"><input type="checkbox" id="manage_stock" name="manage_stock" v-model="product.manage_stock"> Manage Stock</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label for="sold_individually"><input type="checkbox" id="sold_individually" name="sold_individually" v-model="product.sold_individually"> Sold Individually</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-lg btn-primary" @click.prevent="updateProduct">Save</button>
						<button class="btn btn-lg btn-default"@click.prevent="cancelEdit">Cancel</button>
						<button class="btn btn-lg btn-danger pull-right" @click.prevent="deleteProduct">Delete</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="scripts/oauth.js"></script>
	<script src="scripts/oauth-signature.js"></script>
	<script src="scripts/jQuery-2-2-4.js"></script>
	<script src="scripts/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				// Product Details
				'products' : [],
				'product' : {},

				// Connection Details
				'consumerKey' : 'ck_0477f23ed27628b01d8caf7fc64ac7c27e481848',
				'consumerSecret' : 'cs_21c582e632a1f94af59a358394f45556409d3ac2',
				'baseUrl' : 'http://ador.dev/wp-json/wc/v1/'
			},

			created: function () {
				this.getProducts();
			},

			methods: {
				updateModel( product ) {
					this.pristineIndex = this.products.indexOf( product );
					this.pristineProduct = Object.create( product );
					this.product = product;
				},

				generateUrl( url, method ) {

					var requestUrl = this.baseUrl + url;

					var oauth = new OAuth({
						consumer: {
							'key': this.consumerKey,
							'secret': this.consumerSecret
						},
						signature_method: 'HMAC-SHA1',
						hash_function: function( base_string, key ) {
							return null;
						}
					});

					var creds = oauth.authorize({
						'method': method,
						'url': requestUrl
					});

					var oauthData = {
						'oauth_consumer_key' : this.consumerKey,
						'oauth_nonce' : creds.oauth_nonce,
						'oauth_signature_method' : creds.oauth_signature_method,
						'oauth_timestamp' : creds.oauth_timestamp,
					}

					oauthData.oauth_signature = oauthSignature.generate( method, requestUrl, oauthData, oauth.consumer.secret );

					return requestUrl + '?' + oauth.getParameterString({ 'method': method, 'url': this.baseUrl }, oauthData );
				},

				getProducts() {

					this.products = [ { 'name': 'Loading...', 'sku' : '...' } ];

					this.ajaxCallback( this.generateUrl( 'products/', 'GET' ), 'GET', null, function ( response ) {
						console.log(response);
						app.products = response;
					});

					this.page += 1;
				},

				updateProduct() {
					this.ajaxCallback( this.generateUrl( 'products/' + this.product.id, 'PUT' ), 'PUT', JSON.stringify( this.product ), function ( response ) {
						console.log(response);
						if ( 'object' === typeof response ) {
							app.getProducts();
							app.product = {};
						}
					});
				},

				cancelEdit() {
					this.getProducts();
					this.product = {};
				},

				deleteProduct() {

					if ( ! confirm( "Are you sure you want to delete " + this.product.name + "?" ) ) {
						return;
					}

					this.ajaxCallback( this.generateUrl( 'products/' + this.product.id, 'DELETE' ), 'DELETE', null, function ( response ) {
						console.log(response);
						if ( 'object' === typeof response ) {
							app.getProducts();
							app.product = {};
						}
					});

				},

				ajaxCallback( url, method, data, callback ) {

					var settings = {
						'url': url,
						'method': method,
						'async': true,
						'crossDomain': true
					};

					if ( data ) {
						settings.headers = {  };
						settings.data = data;
					}

					// $.ajax( settings ).done( callback );

					var data = data || null;
					var xhr = new XMLHttpRequest();
					xhr.withCredentials = true;

					xhr.addEventListener( 'readystatechange', function () {
						if ( this.readyState === 4 ) {
							callback( JSON.parse( this.response ) );
						}
					});

					xhr.open( method, url );
					xhr.setRequestHeader( 'cache-control', 'no-cache' );

					if ( data ) {
						xhr.setRequestHeader( 'content-type', 'application/json' );
					}

					xhr.send(data);
				}
			}
		});
	</script>
</body>
</html>
